@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root,
[data-theme='light'],
[data-theme='dark'] {
    --sl-color-bg-default: #111111;
    --sl-color-bg-nav: #111111;
    --sl-color-bg-sidebar: #111111;
    --sl-color-hairline: #333;
    --sl-color-text: #ddd;
    --sl-color-text-accent: #FFD700;
    --sl-color-accent-high: #ebd988;
    --sl-color-accent: #8f964e;
    --sl-color-accent-low: #3a4225;
    --sl-font-system: 'Merriweather', serif;
    --sl-font-heading: 'Oswald', sans-serif;
}

.site-title {
    font-family: 'Stardos Stencil', cursive;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: var(--sl-color-accent-high) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    transform: none;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}

body {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--sl-font-heading);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--sl-color-accent-high);
}

.sl-markdown-content p {
    text-align: justify;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    color: var(--sl-color-text);
}

@media (min-width: 90rem) {
    .sl-markdown-content {
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid var(--sl-color-hairline);
    }

    h1,
    h2,
    h3,
    .sl-markdown-content>div,
    aside {
        break-inside: avoid;
        column-break-inside: avoid;
    }

    h1 {
        column-span: all;
        text-align: center;
        border-bottom: 2px solid var(--sl-color-accent-low);
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
}

.sidebar-content {
    border-right: 1px solid var(--sl-color-hairline);
}

.sidebar-content summary {
    font-family: var(--sl-font-heading);
    font-weight: 400;
    letter-spacing: 0.05em;
}

.starlight-aside--note {
    color: var(--sl-color-accent-high);
}

.starlight-aside--danger {
    color: #cc5555;
}

.sl-markdown-content a {
    color: var(--sl-color-accent);
    text-decoration: none;
    border-bottom: 1px dotted var(--sl-color-accent);
    transition: all 0.2s;
}

.sl-markdown-content a:hover {
    color: var(--sl-color-accent-high);
    border-bottom-style: solid;
}
