@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
    --sl-color-bg-default: #111111;
    --sl-color-bg-nav: #111111;
    --sl-color-bg-sidebar: #111111;
    --sl-color-hairline: #333;
    --sl-color-text: #ddd;
    --sl-color-text-accent: #FFD700;
    --sl-color-accent-high: #ebd988;
    --sl-color-accent: #8f964e;
    --sl-color-accent-low: #3a4225;
    --sl-font-system: 'Merriweather', serif;
    --sl-font-heading: 'Oswald', sans-serif;
}

[data-theme='light'] {
    --sl-color-bg-default: #fcfcfc;
    --sl-color-text: #1a1a1a;
}

[data-theme='light'] header,
[data-theme='light'] .sidebar-content,
[data-theme='light'] .mobile-preferences {
    --sl-color-text: #ddd;
    --sl-color-text-accent: #FFD700;
    --sl-color-accent-high: #ebd988;
}

body {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.sidebar-content summary {
    font-family: var(--sl-font-heading);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--sl-color-accent-high);
}

.sidebar-content summary {
    font-weight: 400;
}

a.site-title,
a.site-title:hover,
a.site-title:focus {
    font-family: 'Stardos Stencil', cursive;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: var(--sl-color-accent-high);
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
}

.sidebar-content {
    border-right: 1px solid var(--sl-color-hairline);
}

.sl-markdown-content {
    max-width: 70ch;
    margin-inline: auto;
}

.sl-markdown-content p {
    text-align: justify;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    color: var(--sl-color-text);
}

.sl-markdown-content a {
    color: var(--sl-color-accent);
    text-decoration: none;
    border-bottom: 1px dotted var(--sl-color-accent);
    transition: all 0.2s;
}

.sl-markdown-content a:hover {
    color: var(--sl-color-accent-high);
    border-bottom-style: solid;
}

.starlight-aside--note {
    color: var(--sl-color-accent-high);
}

.starlight-aside--danger {
    color: #cc5555;
}

details {
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

details > :not(summary) {
    transition: opacity 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 1;
}

details:not([open]) > :not(summary) {
    opacity: 0;
    pointer-events: none;
}

.caret {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform-origin: center;
}

details[open] .caret {
    transform: rotate(90deg);
}
