---
// Footer minimalista con enlaces esenciales
---

<footer class="footer">
  <a href="https://github.com/kodexArg/syv" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github"></i>
    GitHub
  </a>
  <span>|</span>
  <a href="mailto:gcavedal@gmail.com">
    <i class="fas fa-envelope"></i>
    Contacto
  </a>
</footer> 