---
import SidebarToggle from '../../components/ui/SidebarToggle.astro';
import Breadcrumbs from '../../components/ui/Breadcrumbs.astro';

export interface Props {
  currentPath?: string;
  navigationStructure?: any[];
}

const { currentPath = "/" } = Astro.props;
---

<nav class="navbar">
  <SidebarToggle />
  <Breadcrumbs currentPath={currentPath} />
  <div></div>
</nav> 