---
export interface Props {
  currentPath?: string;
  navigationStructure: any[];
}

const { currentPath = "/", navigationStructure } = Astro.props;
---

<nav class="navbar">
  <button id="sidebar-toggle" type="button">
    ☰
  </button>

  <div>
    <a href="/">Inicio</a>
    {currentPath !== "/" && (
      <span> / {currentPath.split('/').pop()}</span>
    )}
  </div>
</nav> 